.vcenter-parent{
 	display:flex;
 	align-items:center;

}

#google-logo{
	height: 20vh;
}

.google-service-button{

	height: 10vh;
	width: 10vh;
	min-height: 50px;
	min-width: 50px;
	background-color: transparent;
}



#bigButtons {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.big-button-link{

	height: 15vh;
	width: 20vw;
	background-position: center;
}

#golinks {
    margin: auto;
    width: 75%;
    padding: 10px;
}

.copyright {
	padding: 10px 0;
	background: rgb(238, 238, 238);
	border-top-color: #292929;
}